<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <script src="https://cdn.tailwindcss.com"></script> -->
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="box">
        <h1>Create Your Account</h1>
        <form action="/register" method="post">
            <input type="text" placeholder="Username" name="username"><br><br>
            <input type="email" placeholder="Email" name="email"><br><br>
            <input type="number" placeholder="Age" name="age"><br><br>
            <input type="password" placeholder="password" name="password"><br><br>
            <button type="submit">Create</button>
            <a href="/login">Login</a>
        </form>
    </div>

</body>

</html>